{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block header_logo %}
    <div class="logo" style="max-width: 200px; max-height: 100px; overflow: hidden;">
        <img src="{{ asset('assets/images/logo_grande.png') }}" alt="Logo da Clínica do Micro">
    </div>
    <h2 class="text-center">Login no sistema</h2>
{% endblock %}
