version: '3.5'

services:
  cm3fa:
    container_name: cm3fa
    build:
      context: ./docker
      args:
        UID: $U_ID
    volumes:
      - ./:/var/www/html
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=cm3fa-server
    ports:
      - '1000:80'
    networks:
      - cm3fa-network
    depends_on:
      - cm3fa-mysql

  cm3fa-mysql:
    container_name: cm3fa-mysql
    image: mysql:8.2.0
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: cm3fa
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - cm3fa-mysql-data:/var/lib/mysql
    networks:
      - cm3fa-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

networks:
  cm3fa-network:

volumes:
  cm3fa-mysql-data:
